<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
    name="description"
    content="Home page of this website."
    />
    <link rel="icon" href="icons/games_icon_32x32.ico">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
    <script defer src="js/home.js"></script>
</head>
<body>
    <div class="authentication" id="authentication"> 
        <div class="details">
            <h1>Games World</h1>
            <p>Enter the world of games and have fun with your friends and family.</p>
        </div>
        <div class="right">
            <form action="" class="credentials" id="credentials" autocomplete="off">
                <div class="user-password">
                    <label for="username">UserName</label>
                    <input type="email/text" id="username" placeholder="Username">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Password">
                </div>
                <button class="btn login" id="login">Log in</button>
                <button class="btn create" id="create">Create New Account</button>
                <h2 class="info" id="info"></h2>
            </form>
        </div>
    </div>
</body>
</html>