<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
    name="description"
    content="New Account page of this website."
    />
    <link rel="icon" href="icons/games_icon_32x32.ico">
    <title>Create a new account</title>
    <script src="https://kit.fontawesome.com/0816e9224c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/newAccount.css">
    <script defer src="js/newAccount.js"></script>
</head>
<body class="flex-box">
    <div class="page flex-box">
        <h1>Games World</h1>
        <div class="flex-box template">
            <h2>Create a New Account</h2>
            <form action="" class="flex-box user-details" id="user-details" autocomplete="off">
                <label for="firstname">FirstName</label>
                <input type="text" placeholder="First name" id="firstname" autocomplete="off">
                <label for="surname">SurName</label>
                <input type="text" placeholder="Surname" id="surname" autocomplete="off">
                <label for="useremail">Email</label>
                <input type="email" placeholder="Email address" id="useremail" autocomplete="off">
                <label for="username">UserName</label>
                <input type="text" placeholder="UserName" id="username" autocomplete="off">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" id="password" autocomplete="off">
                <label for="cpassword">Confirm Password</label>
                <input type="password" placeholder="Confirm Password" id="cpassword" autocomplete="off">
                <button class="btn signup" id="signup" >Sign Up</button>
                <button class="btn account" id="already-account" >Already have an account?</button>
            </form>
            <h3 class="edit-info" id="new-account-info"></h2>
        </div>
    </div>
</body>
</html>